package ${third_package_name_all}.alias;
/**
 * The vo class for the database table ${third_table_name} 
 * 别名Alias类
 */

public class ${third_table_class}Alias  {


	#foreach( $name in $third_list_column )
	//${name.comment}
	public static String  ${name.fieldName}="${name.comment}";
#end


}