package ${ay_package_name}.action;
import c.a.config.SysConfig;
import ${ay_package_name}.service.${ay_table_class}Service;
import c.x.platform.root.common.action.BaseAction;
import c.a.util.core.enums.bean.CommViewEnum;
public class ${ay_table_class}DelAllAction extends BaseAction {
	@Override
	public String execute() throws Exception {
		String ids = request.getParameter("id");
		${ay_table_class}Service service = new ${ay_table_class}Service();
		service.delAll(ids.split(","));
			// 跳转
		return CommViewEnum.Default.toString();
	}
}
