package ${ay_package_name}.action;

import ${ay_package_name}.entity.${ay_table_class};
import ${ay_package_name}.service.${ay_table_class}Service;
import  c.x.platform.root.common.action.BaseAction;
import c.a.util.core.string.StringUtil;
import c.a.util.core.enums.bean.CommViewEnum;
public class ${ay_table_class}FormAction extends BaseAction {
	@Override
	public String execute() throws Exception {
		${ay_table_class}Service service = new ${ay_table_class}Service();
		String id = (String) request.getParameter("id");
		request.setAttribute("id", id);
		if (id == null) {
			// 选择上一级菜单
			String parent_id = (String) request.getParameter("parent_id");
			if (StringUtil.isBlank(parent_id)) {
			} else {
				parent_id = parent_id.trim();
				${ay_table_class} p = service.find(parent_id);
				request.setAttribute("p", p);
			}
		}
		if (id != null) {
			id = id.trim();
			// 本身
			${ay_table_class} s = service.find(id);
			request.setAttribute("s", s);
			// 选择上一级菜单
			String parentId = null;
			${ay_table_class} p = null;
			// 上一级
			parentId = s.getParent();
			p = service.find(parentId);
			request.setAttribute("p", p);
		}
		return CommViewEnum.Default.toString();
	}
}
