package ${ay_package_name}.action;
import java.util.ArrayList;
import java.util.List;
import java.util.Map;
import c.x.platform.root.common.action.BaseAction;
import java.sql.Connection;
import c.a.util.core.jdbc.nut.IJdbcUtil;
import c.a.util.core.json.JsonThreadLocal;
import c.a.tools.jdbc.IJdbcTool;
import c.a.tools.jdbc.threadlocal.JdbcThreadLocal;
import ${ay_package_name}.entity.${ay_table_class};
public class ${ay_table_class}ListJsonAction extends BaseAction {
	@Override
	public String execute() throws Exception {
		String sql = "SELECT * FROM ${ay_table_name} where state_!='DEL' order by ${columnNamePk} desc";
		IJdbcTool jdbcTool = JdbcThreadLocal.findJdbcToolThreadLocal().get();
		IJdbcUtil jdbcUtil = jdbcTool.getJdbcUtil();
		Connection conn = jdbcUtil.getConnection();
		List<${ay_table_class}> menuList = jdbcTool.findObjectList(${ay_table_class}.class, conn, sql, null);
		List<${ay_table_class}> treeEasyuiMenuBeanList = tree(menuList, "0");
		String jsonStr = JsonThreadLocal.findThreadLocal().get().list2json(treeEasyuiMenuBeanList);
		response.getWriter().print(jsonStr);
		return null;
	}
	public List<${ay_table_class}> tree(List<${ay_table_class}> easyuiMenuBeanList, String id) {
		// 递归转化为树形
		List<${ay_table_class}> treeEasyuiMenuBeanList = new ArrayList<${ay_table_class}>();
		for (${ay_table_class} easyuiMenuBean : easyuiMenuBeanList) {
			${ay_table_class} treeEasyuiMenuBean = new ${ay_table_class}();
			treeEasyuiMenuBean.set${methodNamePk}(easyuiMenuBean.get${methodNamePk}());
			treeEasyuiMenuBean.setParent(easyuiMenuBean.getParent());
			//treeEasyuiMenuBean.setName(easyuiMenuBean.getName());
			//treeEasyuiMenuBean.setUrl(easyuiMenuBean.getUrl());
			treeEasyuiMenuBean.setState(easyuiMenuBean.getState());
			if (id.equals(easyuiMenuBean.getParent())) {
				treeEasyuiMenuBean.setChildren(tree(easyuiMenuBeanList, treeEasyuiMenuBean.get${methodNamePk}()));
				treeEasyuiMenuBeanList.add(treeEasyuiMenuBean);
			}
		}
		return treeEasyuiMenuBeanList;
	}
	public String execute2() throws Exception {
		List<Object> parameterList = new ArrayList<Object>();
		List<Map<String, Object>> mapList = this.findDao().findMapList(
				this.toSql(), parameterList);
		// 重新构造key
		for (Map<String, Object> map : mapList) {
			map.put("sysId", map.get("${columnNamePk}"));
			map.put("name", map.get("NAME_"));
			map.put("parent", map.get("PARENT_"));
			map.put("url", map.get("URL_"));
		}
		return this.returnJson(mapList);
	}
	/**
	 * 构造sql
	 * 
	 * @Description
	 * @Title toSql
	 * @return 参数说明
	 * @return String 返回类型
	 * @throws
	 */
	public String toSql() {
		StringBuilder sb = new StringBuilder();
		sb.append(" select DISTINCT * from    ");
		sb.append(" ${ay_table_name} ");
		sb.append(" where path_ like '1.%' and ");
		sb.append("  (TREE_CODE_ is null or TREE_CODE_!='0001')  ");
		sb.append(" 	order by SN_ asc,${columnNamePk} asc  ");
		String sql = sb.toString();
		return sql;
	}
}
